body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: bisque;
  color: black;
}

#display {
  background-color: black;
  padding: 8px 16px;
}

#pad-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
